body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    background-color: #1C0A00;
    padding: 0 148px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    padding: 24px;
}

.logo {
    width: 64px;
    height: 64px;
}

.text a{
    color: #CC9544;
    font-size: 18px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 124px 24px;
}

.main-text-header {
    font-weight: bolder;
    font-size: 48px;
    color: #CC9544;
    margin: 0;
}

.secondary-header-text {
    color: #6c4e22;
    font-size: 18px;
}

.get-cup-btn {
    background-color: #361500;
    color: #CC9544;
    padding: 8px;
    border-radius: 12px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    width:120px;
}

.header-img {
    height: 300px;
    width: 800px;
    border-radius: 16px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}

a {
    text-decoration: none;
}


.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.coffee-types-container {
    background-color: #CC9544;
    padding: 24px 24px 124px 24px;
}

.coffee-text {
    font-size: 36px;
    font-weight: 900;
    color: #1C0A00;
    text-align: center;
}

.coffee-types {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.coffee-type-image {
    border:#361500 6px solid;
    width: 200px;
    height: 200px;
    border-radius: 16px;
}

.coffee-type-info {
    color: #361500;
    font-size: 18px;
}